@using System.Web.UI.WebControls
@model BLL.Interface.Entities.BllBlogEntity
@{
    ViewBag.Title = "Edit blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container centered w">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        if (Model == null)
        {
            <label>Error</label>
        }
        else
        {
            @Html.HiddenFor(model => model.Id)
            <div>
                @Html.LabelFor(model => model.Name)
                <p>@Html.EditorFor(model => model.Name, new { @value = Model.Name })</p>
            </div>
        }
        <p>
            <button type="submit" class="btn btn-primary">Save</button>
            @Html.ActionLink("Cancel", "Main", "Blog", null, new { @class = "btn btn-primary", @style = "background-color: #2f4f4f" })
        </p>
    }
</div>