@model IEnumerable<BLL.Interface.Entities.BllBlogEntity>
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = TempData["user"];
}

<div class="centered">
    @if (currentUser != null)
    {
        @Html.ActionLink("+ Add blog", "Create", "Blog", new { @user = currentUser }, new { @class = "btn btn-default", @style = "background-color: #00ff00; color: #ffffff" })
    }
</div>
<h2 style="padding-left: 35%">List of blogs :</h2>
@using (Html.BeginForm())
{
    <div class="text-">
        @foreach (var c in Model)
        {
            <div style="padding-left: 35%">
                @Html.ActionLink(c.Name, "Articles", "Article", new { @id = c.Id }, new { @class = "text-primary" })
                <div>
                    <h5 style="color: #000000">
                        @Html.Label("Author:")&nbsp;
                        @Html.DisplayFor(itemName => c.User.Name)
                    </h5>
                </div>
                @if (currentUser != null)
                {
                    <div>
                        @Html.ActionLink("Edit", "Edit", "Blog", new { @id = c.Id }, new { @class = "fa fa-edit", @style = "color: #000080" })
                        @Html.ActionLink("Delete", "Articles", "Blog", new { @id = c.Id }, new { @class = "fa fa-ban", @style = "color: #ff0000" })
                    </div>
                }
            </div>
        }
    </div>
}
