@using WebUI.Infrastructure.Provider
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Bugblog</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Home", "Home")">BUG<i class="fa fa-bug"></i>BLOG</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="btn btn-lg nopadding">
                            @Html.ActionLink("HOME", "Home", "Home", null, new {@class = "btn btn-lg"})
                        </div>
                    </li>
                    <li>
                        <div class="btn btn-lg nopadding">
                            @Html.ActionLink("SEARCH", "Search", "Article", null, new { @class = "btn btn-lg" })
                        </div>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <div class="btn btn-lg nopadding">
                                @Html.ActionLink("MY BLOGS", "Blog", "Blog", new
                           {
                               @user = HttpContext.Current.User.Identity.Name
                           },
                                    new { @class = "btn btn-lg" })
                            </div>
                        </li>
                    }
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <li>
                            <div class="btn btn-lg nopadding">
                                @Html.ActionLink("CONTROL PANEL", "Control", "Management", null, new {@class = "btn btn-lg"})
                            </div>
                        </li>
                    }
                    <li>
                        <div class="btn btn-lg nopadding">
                            @Html.ActionLink("BLOGS", "Main", "Blog", null, new { @class = "btn btn-lg" })
                        </div>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                    <li>
                        <div class="btn btn-lg nopadding">
                            @Html.ActionLink("LOG OUT", "Logoff", "Account", null, new { @class = "btn btn-lg" })
                        </div>
                    </li>
                    <li>
                        <div class="btn btn-lg" style="color: #ffffff; background-color: #2f4f4f">
                            @{
                                var username = HttpContext.Current.User.Identity.Name;
                            }
                            @username
                        </div>

                    </li>
                    }
                    else
                    {
                    <li>
                        <div class="btn btn-lg nopadding">
                            @Html.ActionLink("LOG IN", "Login", "Account", null, new { @class = "btn btn-lg" })
                        </div>
                    </li>
                    <li>
                        <div class="btn btn-lg nopadding">
                            @Html.ActionLink("SIGN IN", "Register", "Account", null, new { @class = "btn btn-lg" })
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container w">
        @RenderBody()
    </div>
    <div id="f">
        <div class="container">
            <div class="row centered">
                <a href="#"><i class="fa fa-vk"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-apple"></i></a>
                <p>&copy;&nbsp;@DateTime.Now.Year&nbsp;Bugblog - All rights reserved.</p>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
