@model IEnumerable<BLL.Interface.Entities.BllArticleEntity>
@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <h2 style="padding-left: 10%">Articles in blog "@ViewBag.BlogName" :</h2>
    <div class="centered">
        @if (ViewBag.UserName != null)
        {
            @Html.ActionLink("+ Add article", "Create", "Article", new { @username = ViewBag.UserName, @blog = ViewBag.BlogName}, new { @class = "btn btn-default", @style = "background-color: #00ff00; color: #ffffff" })
        }
    </div>
    <div class="text-">
        @foreach (var c in Model)
        {
            @Html.HiddenFor(model => c)
            <div style="padding-left: 10%; padding-right: 10%">
                @Html.ActionLink(c.Name, "Articles", "Article", new { @item = c }, new { @class = "text-primary" })
                <div>
                    <p>
                        <h5 style="color: #000000">@c.Text</h5>
                    </p>
                </div>
            </div>
        }
    </div>
}

