@model WebUI.Models.ArticleModel

@{
    ViewBag.Title = "Create article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centered">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h3>Add article to @Model.BlogName at @Model.Date</h3>
        <h4 class="text-danger">@Html.ValidationSummary()</h4>
        <div class="form-group" align="center">
            @Html.HiddenFor(itemArticle => itemArticle.Date)
            @Html.HiddenFor(itemArticle => itemArticle.Author)
            @Html.HiddenFor(itemArticle => itemArticle.BlogName)
            <label>Name of article</label>
            <p>@Html.TextBoxFor(itemArticle => itemArticle.Name, new { @class = "form-control" })</p>
            <label>Text of article</label>
            <p>@Html.TextBoxFor(itemArticle => itemArticle.Text, new {@class = "text-center"})</p>
            <p>
                @Html.TextBoxFor(itemModel => itemModel.CurrentTag, new { @class = "form-control" })
            </p>
            <p>
                <button type="submit" class="btn btn-primary">Accept</button>
                <button type="reset" class="btn btn-primary">Reset</button>
            </p>
        </div>
    }
</div>
